body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: blue;

.container {

	display: flex;
	height: 100vh;
	width: 100vw;
	padding: 100px;
	align-items: center;
	background-color: ;
}

.left-panel {
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	border: 10px solid black
}

.right-panel {
	flex: 2;
}

.week-list {
	list-style: none;
	display: flex;

}

.location-container
}